@import url("https://fonts.googleapis.com/css2?family=Arvo&display=swap");

/*-- General -- */

body {
    background-color: #78909c;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html {
    font-family: "Arvo", serif;
}

.container {
    margin: auto;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(66, 251, 5);
}

/*-- Alerts -- */
.flashes h5 {
    line-height: 2;
    background-color: rgba(66, 251, 5);
}

.nav-icon {
    padding-left: 15px;
    font-size: 2rem;
}

/* -- Buttons --*/
.btn-small {
    margin: 15px 7px;
}

.hero-button {
    margin-top: 10px;
    margin-bottom: 20px;
}

/*-- Recipes and Profile page -- */
#card-recipe {
    min-height: 890px;
}

/*-- Footer -- */
#footer-icons {
    height: auto;
    display: inline-flex;
    
}

#footer-icons a {
    justify-content: space-around;
    margin: 10px;
    font-size: 1.4rem;
}

/*-- Media Query for small size devices -- */
@media only screen and (max-width: 600px) {
    html {
        font-size: 0.7rem;
    }
}

@media only screen and (max-width: 600px) {
    #card-recipe {
        min-height: 550px;
    }
}

/*-- Media Query for medium size devices -- */
@media only screen and (max-width: 900px) {
    #card-recipe {
        min-height: 700px;
    }
}