body {
    background-color:pink;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
 }

.text-shadow {
    text-shadow: 3px 3px 3px rgba(66,251,5);
}

.flashes h4 {
    line-height: 2;
}


.footer-icons{
    padding: 10px;
    display: inline-flex;
    line-height: 10px;
    position: fixed;
}