body {
    background-color: #757575;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

html {
    font-family: GillSans, Calibri, Trebuchet, sans-serif;
}

.container{
    margin: auto;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(66, 251, 5);
}

.flashes h5 {
    line-height: 2;
    background-color: rgba(66, 251, 5);
}

.btn-small {
    margin: 15px 7px;
}

#card-recipe {
    min-height: 890px;
}

#footer-icons {
    height: auto;
    display: inline-flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}