{% extends "base.html" %}
{% block content %}

<div>
  <img class="responsive-img"
    src="https://images.unsplash.com/photo-1507383832450-e75a770318ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80">
</div>

<div class="card-panel indigo accent-3">
  <p class="center-align">Welcome to our community, if like us you are passionate to create a new coctails, then join
    and
    share your dream recipes with us. If you are wondering how we categorizing our drinks : </p>
</div>
<div class="card-panel black">
  <ul class="collapsible center-align">
    <li>
      <div class="collapsible-header black-text text-shadow pink accent-3">
        <i class="fas fa-glass-whiskey center-align"></i><strong><i class="fas fa-angle-down"></i> Sours </strong></div>

      <div class="collapsible-body black-text pink lighten-5">
        <strong>Sours should always contain freshly squeezed, tart, tangy citrus juice, which is often paired with
          simple sugar syrup to sweeten the mix. The choice of main alcohol is free here and depends mostly on
          preferences. Sours are usually shaken in a cocktail shaker with ice cubes and served straight up. A great
          example of Sours is all sidecars, margaritas, and cosmopolitans.</strong>
      </div>
    </li>
    <li>
      <div class="collapsible-header black-text text-shadow pink accent-3">
        <i class="fas fa-glass-whiskey"></i><strong><i class="fas fa-angle-down"></i> Fizz or Collins </strong></div>
      <div class="collapsible-body black-text pink lighten-5">
        <strong>Fizzes should always contain anything with bubbles like prosecco or cava and some type of soda, serving
          in
          highballs filled with ice cubes. These cocktails are the most refreshing, very simple to make, and light to
          drink. A great example of fizzes is Champagne-based cocktails, Collinses, mules, and bucks like Aperol Spritz,
          Gin and tonic, Mojito, or Bellini. </strong>
      </div>
    </li>
    <li>
      <div class="collapsible-header black-text text-shadow pink accent-3">
        <i class="fas fa-glass-whiskey"></i><strong><i class="fas fa-angle-down"></i> Old-Fashioned </strong>
      </div>
      <div class="collapsible-body black-text pink lighten-5">
        <strong>These are old-school short cocktails, often whiskey-based served in lowball filled with ice cubes.
          Old-Fashioned always contain sweetened liquor zipped up with something bitter. Sweetness can come from sugar,
          muddled with fruit, or a sweeter liqueur like triple sec or maraschino. The bitter ingredient can be a few
          dashes of any bottled bitters like Angostura, or a bitter spirit like an amaro. A great example in this group
          is
          Old-Fashioned, Sazerac, and Toronto.</strong>
      </div>
    </li>
    <li>
      <div class="collapsible-header black-text text-shadow pink accent-3">
        <i class="fas fa-glass-whiskey"></i><strong><i class="fas fa-angle-down"></i> Three-parters </strong>
      </div>
      <div class="collapsible-body black-text pink lighten-5">
        <strong>This collection of drinks always contain steered together a three-part combo of booze-like spirit and a
          lower-alcohol ingredient like vermouth or beloved martini, plus a bitter or a syrup. A great example of
          three-parters is Manhattan, Brooklyn, Negroni, boulevardier, Rob Roy.
        </strong>
      </div>
    </li>
  </ul>
</div>
<div class="card-panel indigo accent-3 center-align">
  <h4 class="pink-text text-lighten-5 center-align text-shadow" >What's Your Dream Cocktail Today? </h4>
  <img class="responsive-img"
      src="https://images.unsplash.com/photo-1610478920454-8df995a1d60a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80"
      alt="" />
  <button class="btn pink accent-3 waves-effect waves-light"><a class="black-text text-shadow"
      href="{{ url_for('add_recipe') }}">Add Dream Recipe Here</a></button>
</div>
  
<div class="carousel card-panel black lighten-4">
  <h4 class="pink-text text-lighten-5 center-align text-shadow" >Capture with Us those magical moments of mixology!</h4>
  <a class="carousel-item" href="#one!"><img
      src="https://images.unsplash.com/photo-1617524454933-ab8853813111?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80"></a>
  <a class="carousel-item" href="#two!"><img
      src="https://images.unsplash.com/photo-1613934619052-27d9464c8819?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></a>
  <a class="carousel-item" href="#three!"><img
      src="https://images.unsplash.com/photo-1607687633950-c745bdb4da70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"></a>
  <a class="carousel-item" href="#five!"><img
      src="https://images.unsplash.com/photo-1607446045875-de57c995726b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></a>
  <a class="carousel-item" href="#one!"><img
      src="https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80"></a>
  <a class="carousel-item" href="#two!"><img
      src="https://images.unsplash.com/photo-1556855810-ac404aa91e85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80"></a>
  <a class="carousel-item" href="#three!"><img
      src="https://images.unsplash.com/photo-1587888637140-849b25d80ef9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80"></a>
  <a class="carousel-item" href="#four!"><img
      src="https://images.unsplash.com/photo-1583898350903-99fa829dad3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80"></a>
  <a class="carousel-item" href="#five!"><img
      src="https://images.unsplash.com/photo-1550426735-c33c7ce414ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=320&q=80"></a>
</div>


{% endblock %}