{% extends "base.html" %} 
{% block content %}

<!-- Landing page hero image and welcoming content-->
<div class="card-panel black">
    <div class="card-panel pink lighten-5 center-align">
        <h5 class="black-text center-align text-shadow">Welcome to our community of bartenders, mixologists, and free-style cocktail enthusiasts!</h5>
        <img class="responsive-img" src="https://images.unsplash.com/photo-1507383832450-e75a770318ea?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80" alt="" />
    </div>
</div>
<!-- Card Panel with content -->
<div class="card-panel black">
    <h5 class="pink-text text-lighten-5 center-align text-shadow">
        Are you passionate about creating new cocktails recipes? <br />
        Join our project, and share your dream recipes with others!
    </h5>
    <div class="card-panel pink lighten-5">
        <p class="center-align flow-text text-shadow">
            Did you know?
        </p>
        <p>Mixology - a term or skill for mixing drinks and bartending. It is generally used to describe the in-depth study of mixing cocktails using specialist techniques and tricks.</p>
        <p>Mixologist - a person who will often focus on the art and craft of making cocktails, creating new cocktails, and experimenting with well-known spirits and mixers.</p>
    </div>
</div>
<!-- Images Carousel matching the theme of the page-->
<div class="card-panel pink lighten-5">
    <div class="carousel card-panel black lighten-4">
        <h5 class="pink-text text-lighten-5 center-align text-shadow">Capture with Us those magical moments of mixology!</h5>
        <br />
        <a class="carousel-item" href="#1"><img src="https://images.unsplash.com/photo-1617524454933-ab8853813111?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=333&q=80" /></a>
        <a class="carousel-item" href="#2"><img src="https://images.unsplash.com/photo-1613934619052-27d9464c8819?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#3"><img src="https://images.unsplash.com/photo-1607687633950-c745bdb4da70?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#4"><img src="https://images.unsplash.com/photo-1607446045875-de57c995726b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#5"><img src="https://images.unsplash.com/photo-1587223962930-cb7f31384c19?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#6"><img src="https://images.unsplash.com/photo-1556855810-ac404aa91e85?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#7"><img src="https://images.unsplash.com/photo-1587888637140-849b25d80ef9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1868&q=80" /></a>
        <a class="carousel-item" href="#8"><img src="https://images.unsplash.com/photo-1583898350903-99fa829dad3d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=358&q=80" /></a>
        <a class="carousel-item" href="#9"><img src="https://images.unsplash.com/photo-1550426735-c33c7ce414ff?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=320&q=80" /></a>
        <a class="carousel-item" href="#10"><img src="https://images.unsplash.com/photo-1594744479374-3028afddc686?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#11"><img src="https://images.pexels.com/photos/946118/pexels-photo-946118.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></a>
        <a class="carousel-item" href="#12"><img src="https://images.pexels.com/photos/4279097/pexels-photo-4279097.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></a>
        <a class="carousel-item" href="#13"><img src="https://images.pexels.com/photos/2795026/pexels-photo-2795026.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" /></a>
        <a class="carousel-item" href="#14"><img src="https://images.unsplash.com/photo-1578664182354-e3878189cdac?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#15"><img src="https://images.unsplash.com/photo-1611688394366-763e1ea8b21c?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80" /></a>
        <a class="carousel-item" href="#16"><img src="https://images.unsplash.com/photo-1618631456678-2e4654c8026d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
        <a class="carousel-item" href="#17"><img src="https://images.unsplash.com/photo-1569402814755-b35b04017cab?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=334&q=80" /></a>
    </div>
</div>
<!-- Dropdown menu with cocktail categories and categories description -->
<div class="card-panel black">
    <h5 class="pink-text text-lighten-5 center-align text-shadow">This is how we are categorizing our drinks :</h5>
    {% for category in categories %}
    <ul class="collapsible center-align">
        <li>
            <div class="collapsible-header black-text text-shadow pink accent-3">
                <i class="fas fa-glass-whiskey"></i><strong><i class="fas fa-angle-down"></i> {{ category.category_name }} </strong>
            </div>
            <div class="collapsible-body black-text pink lighten-5">
                <strong>
                    {{ category.category_description }}
                </strong>
            </div>
        </li>
    </ul>
    {% endfor %}
</div>
<!-- Card panel with image and button pointing to register page -->
<div class="card-panel black">
    <div class="card-panel pink lighten-5 center-align">
        <h5 class="black-text center-align text-shadow">What's Your Dream Cocktail Today?</h5>
        <img class="responsive-img" src="https://images.unsplash.com/photo-1610478920454-8df995a1d60a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1950&q=80" alt="" />
        <button class="btn pink accent-3 waves-effect waves-light"><a class="black-text text-shadow" href="{{ url_for('register') }}">Add Dream Recipe Here</a></button>
    </div>
</div>

{% endblock %}