{% extends "base.html" %} {% block content %}

<!-- Landing page hero image and welcoming content-->
<div class="card-panel pink lighten-5">
    <div class="card-panel black center-align">
        <h6 class="pink-text text-lighten-5 center-align">Welcome to our community of bartenders, mixologists, and free-style cocktail enthusiasts!</h6>
        <br />
        <img class="responsive-img" src="{{ url_for('static', filename='images/color_dac.jpg') }}" alt="Colorful image with retro neon light at the bar" />
    </div>
</div>
<!-- Card Panel with content -->
<div class="card-panel black">
    <div class="card-panel indigo lighten-5">
        <h6 class="black-text center-align">
            Are you passionate about creating new cocktails recipes? <br />
            Join our project, and share your dream recipes with others!
        </h6>
        <br />
        <hr class="black" />
        <div class="row center-align">
            <div class="col s12 m6 l4">
                <p class="flow-text">Mixology <i class="fas fa-cocktail text-shadow"></i></p>
                <p>A term or skill for mixing drinks and bartending. It is generally used to describe the in-depth study of mixing cocktails using specialist techniques and tricks.</p>
            </div>
            <div class="col s12 m6 l4 hide-on-med-only">
                <p class="flow-text">Mixologist <i class="fas fa-user-tie text-shadow"></i></p>
                <p>A person who will often focus on the art and craft of making cocktails, creating new cocktails, and experimenting with well-known spirits and mixers.</p>
            </div>
            <div class="col s12 m6 l4">
                <p class="flow-text">Recipe <i class="fas fa-list-alt text-shadow"></i></p>
                <p>By joining us, you can register your profile, and be part of this creative project. Share with Us a set of instructions that describe how to prepare Your Dream Recipe.</p>
            </div>
        </div>
    </div>
</div>
<!-- Images Carousel matching the theme of the page-->
<div class="card-panel pink lighten-5">
    <div class="carousel card-panel black lighten-4">
        <h6 class="pink-text text-lighten-5 center-align">Capture with Us those magical moments of mixology!</h6>
        <br />
        <a class="carousel-item" href="#1"><img src="{{ url_for('static', filename='images/carousel/gin_tonic.jpg') }}" alt="Cocktail example Gin and Tonic" /></a>
        <a class="carousel-item" href="#2"><img src="{{ url_for('static', filename='images/carousel/alco_bar.jpg') }}" alt="Examples of liquours" /></a>
        <a class="carousel-item" href="#3"><img src="{{ url_for('static', filename='images/carousel/apple_mar.jpg') }}" alt="Cocktail example Apple Martini" /></a>
        <a class="carousel-item" href="#4"><img src="{{ url_for('static', filename='images/carousel/bartender_work.jpg') }}" alt="Example of bartending" /></a>
        <a class="carousel-item" href="#5"><img src="{{ url_for('static', filename='images/carousel/whiskey_sour.jpeg') }}" alt="Cocktail example Whiskey Sour" /></a>
        <a class="carousel-item" href="#6"><img src="{{ url_for('static', filename='images/carousel/lilla_neon.jpg') }}" alt="Example of neon light" /></a>
        <a class="carousel-item" href="#7"><img src="{{ url_for('static', filename='images/carousel/three_col.jpg') }}" alt="Cocktail example freestyle" /> </a>
        <a class="carousel-item" href="#8"><img src="{{ url_for('static', filename='images/carousel/pink_bouble.jpg') }}" alt="Cocktail example italian soda" /></a>
        <a class="carousel-item" href="#9"><img src="{{ url_for('static', filename='images/carousel/bar_display.jpg') }}" alt="Examples of liquours" /></a>
        <a class="carousel-item" href="#10"><img src="{{ url_for('static', filename='images/carousel/orange_bre.jpg') }}" alt="Cocktail example Tequila Sunrise" /></a>
        <a class="carousel-item" href="#11"><img src="{{ url_for('static', filename='images/carousel/old_fashion.jpg') }}" alt="Cocktail example Old Fashioned" /></a>
        <a class="carousel-item" href="#12"><img src="{{ url_for('static', filename='images/carousel/bar_red.jpg') }}" alt="Examples of liquours" /></a>
        <a class="carousel-item" href="#13"><img src="{{ url_for('static', filename='images/carousel/multi_drink.jpeg') }}" alt="Cocktail example" /></a>
        <a class="carousel-item" href="#14"><img src="{{ url_for('static', filename='images/carousel/glass_neon.jpg') }}" alt="Example of neon light" /></a>
        <a class="carousel-item" href="#15"><img src="{{ url_for('static', filename='images/carousel/mixology_science.jpeg') }}" alt="Cocktail mixing science" /></a>
        <a class="carousel-item" href="#16"><img src="{{ url_for('static', filename='images/carousel/liq_example.jpg') }}" alt="Examples of liquours" /></a>
        <a class="carousel-item" href="#17"><img src="{{ url_for('static', filename='images/carousel/green_base.jpg') }}" alt="Cocktail example" /></a>
        <a class="carousel-item" href="#18"><img src="{{ url_for('static', filename='images/carousel/blue_lagoon.jpg') }}" alt="Cocktail example" /></a>
        <a class="carousel-item" href="#19"><img src="{{ url_for('static', filename='images/carousel/flower_blend.jpg') }}" alt="Cocktail example" /></a>
        <a class="carousel-item" href="#20"><img src="{{ url_for('static', filename='images/carousel/berry_blast.jpg') }}" alt="Cocktail example" /></a>
        <a class="carousel-item" href="#21"><img src="{{ url_for('static', filename='images/carousel/curacao_blue.jpg') }}" alt="Cocktail example" /></a>
    </div>
</div>
<!-- Dropdown menu with cocktail categories and categories description -->
<div class="card-panel black">
    <div class="card-panel indigo lighten-5">
        <h6 class="black-text center-align">This is how we are categorizing our cocktails! Which category do you choose?:</h6>
        <br />
        <div class="container">
            {% for category in categories %}
            <ul class="collapsible center-align">
                <li>
                    <div class="collapsible-header black-text pink accent-3">
                        <i class="fas fa-glass-whiskey text-shadow"></i><strong><i class="fas fa-angle-down"></i> {{ category.category_name }} </strong>
                    </div>
                    <div class="collapsible-body pink-text text-lighten-5 black">
                        <strong>
                            {{ category.category_description }}
                        </strong>
                    </div>
                </li>
            </ul>
            {% endfor %}
        </div>
    </div>
</div>
<!-- Card panel with image and button pointing to register page -->
<div class="card-panel pink lighten-5">
    <div class="card-panel black center-align">
        <a class="btn pink accent-3 waves-effect waves-light wrapper-align black-text" href="{{ url_for('add_recipe') }}">Add Recipe Here <i class="fas fa-arrow-circle-right"></i></a>
        <br />
        <h6 class="pink-text text-lighten-5 center-align">What's Your Dream Cocktail Today?</h6>
        <br />
        <img class="responsive-img" src="{{ url_for('static', filename='images/neon_light.jpg') }}" alt="Bar Neon Light" />
    </div>
</div>

{% endblock %}
