{% extends "base.html" %}
{% block content %}

<h4 class="pink accent-3 center-align text-shadow">All Dream Recipes</h4>

<div class="row black">
  {% for recipe in recipes %}
  <div class="col s12 m5">
    <div class="card-panel pink lighten-5">
      <div class="card lime lighten-5">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" src="{{ recipe.recipe_picture }}">
        </div>
        <div class="card-content">
          <span><i class="fas fa-glass-whiskey text-shadow"></i> {{ recipe.category_name }} </span>
          <span class="card-title activator black-text"> {{ recipe.recipe_name }} 
            <i class="fas fa-glass-martini text-shadow right"> Show Recipe</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title black-text"> {{ recipe.recipe_name }} 
            <i class="fas fa-window-close text-shadow"></i> Close</span>
          <hr class="pink accent-3">
          <p><i class="fas fa-file-alt text-shadow"></i> {{ recipe.recipe_description }} </p>
          <hr class="pink accent-3">
          <p><i class="fas fa-lemon prefix text-shadow"></i> {{ recipe.recipe_ingredients }} </p>
          <hr class="pink accent-3">
          <p><i class="fas fa-list-ol prefix text-shadow"></i> {{ recipe.recipe_steps }} </p>
          <hr class="pink">
          <p><i class="fas fa-utensil-spoon prefix text-shadow"></i> {{ recipe.recipe_tools }} </p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>

{% endblock %}