{% extends "base.html" %}
{% block content %}

    {% for recipe in recipes %}
        {{ recipe.name }}<br>
        {{ recipe.description }}<br>
        {{ recipe.ingredients }}<br>
        {{ recipe.steps }}<br>
        {{ recipe.tools }}<br>
        {{ recipe.picture }}<br>
    {% endfor %}

    <ul class="collapsible card-panel black">
        <li>
          <div class="collapsible-header black-text text-shadow pink accent-3"><i class="fas fa-glass-whiskey"></i>First</div>
          <div class="collapsible-body black-text pink lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header black-text text-shadow pink accent-3"><i class="fas fa-glass-whiskey"></i>Second</div>
          <div class="collapsible-body black-text pink lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
          <div class="collapsible-header black-text text-shadow pink accent-3"><i class="fas fa-glass-whiskey"></i>Third</div>
          <div class="collapsible-body black-text pink lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
        </li>
        <li>
            <div class="collapsible-header black-text text-shadow pink accent-3"><i class="fas fa-glass-whiskey"></i>Fourth</div>
            <div class="collapsible-body black-text pink lighten-5"><span>Lorem ipsum dolor sit amet.</span></div>
          </li>
      </ul>

{% endblock %}